<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Favourite style:</strong>
  <%= @user.favorite_style %>
</p>

<p>
  <strong>Favourite brewery:</strong>
  <%= @user.favorite_brewery %>
</p>

<% if @user.ratings.empty? %>
    <p>beer has not yet been rated!</p>
<% else %>
    <p>has <%= @user.ratings.count %> ratings, average score <%= @user.average_rating %></p>
<% end %>

<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>




<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
